body {
    font-family: "Arial", sans-serif;
    background-color: purple;
    color: purple;
    text-align: center;
}

header {
    text-align: center;
    background-color: purple;

}

h1 {
    color: white;
    font-size: 36px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

main {
    padding: 20px;
    line-height: 1.6;
}

h2 {
    text-align: center;
    color: black;
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin: 0 auto;
    display: block;
}

button {
    background-color: purple;
    color: white;
    border: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color: purple;
    color: white;
    padding: 10px;
}

.imgrobo {
    text-align: center;

}

.Titulos {
    background-color: purple;
    color: white;
    padding: 5px;
    font-size: 25px;
    display: inline-block;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.text {
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
    padding: 10px; /* Agrega un relleno para separar el texto del borde del contenedor */
    border: 1px solid #ccc; /* Agrega un borde para visualizar el contenedor */
    text-align: center;
}

#metodos {
    max-width: 800px;
    font-size: 20px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    border: 1px solid #ccc; /* Agrega un borde para visualizar el contenedor */

}

#textE {
    max-width: 800px;
    font-size: 20px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    border: 1px solid #ccc; /* Agrega un borde para visualizar el contenedor */

}
