body {
    font-family: Arial, sans-serif;
  }

  .forum-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .response-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #e6f5ff;
  }

  .response-text {
    flex: 1;
    margin-right: 10px;
    word-wrap: break-word;
  }

  .response-date {
    font-size: 0.8em;
    color: #888;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d2edff;
  }
  header {
    background: linear-gradient(to bottom, #85C1E9, #d2edff);
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 7;
    font-family: 'Times New Roman', Times, serif;
  }
  header a {
    display: block; 
    color: white;
    text-decoration: none;
    font-size: 0px;
    font-weight: bold;
    padding: 0px;
  }
  header a:hover {
    text-decoration: underline;
  }
  .forum-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
 
  #title {

    font-size: 40px;

  }

  #title2 {

    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  }